<h3>Pragmatic Order Shipped</h3>
<p>
	Dear <%= @order.name %><br>
	this order:
</p>
<table>
	<tr>
		<th>Qty</th>
		<th>Description</th>
		<th>Price</th>
	</tr>
<%= render @order.line_items %>
Thank you for your recent order from The Pragmatic Store.
</table>

created_at: